body {
	background-color: rgb(230,230,230);
	font-size: 20;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

ul {
	list-style-type: none;
}

.ctrl-newSim {

}

.ctrl-curSim {
	
}

p {
	color: #333;
	font-size: 16px;
    line-height: 1.25em;
    padding: 0 0 1em 0;
    text-align: justify;
}